body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    /*padding-top: var(--ts-safe-area-inset-top);
    padding-bottom: var(--ts-safe-area-inset-bottom);*/
    padding-top: var(--tg-content-safe-area-inset-top);
    padding-bottom: var(--tg-content-safe-area-inset-bottom);
    height: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain ;
}

div{
    padding-top: 10px;
    min-height: 90vh;
}

p{
  text-align: center;
  border: 2px solid rgb(34, 0, 255);
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}



