body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    top: var(--tg-safe-area-inset-top);
}

button {
    display: flex;
     justify-content: center;
      align-items: center;
}